$white: #fff;
$black: #000;

$primary-color: #8b5a2b;
$primary-shade-1: #7d5127;
$primary-shade-2: #6f4822;
$primary-shade-3: #613f1e;
$primary-shade-4: #53361a;
$primary-shade-5: #462d16;
$primary-shade-6: #382411;
$primary-shade-7: #2a1b0d;
$primary-shade-8: #1c1209;
$primary-shade-9: #0e0904;

$primary-tint-1: #976b40;
$primary-tint-2: #a27b55;
$primary-tint-3: #ae8c6b;
$primary-tint-4: #b99c80;
$primary-tint-5: #c5ad95;
$primary-tint-6: #d1bdaa;
$primary-tint-7: #dccebf;
$primary-tint-8: #e8ded5;
$primary-tint-9: #f3efea;

$secondary-color: #fcca2f;
$secondary-shade-1: #fdd559;
$secondary-shade-2: #7d5127;
$secondary-shade-3: #7d5127;
$secondary-shade-4: #7d5127;
$secondary-shade-5: #7d5127;
$secondary-shade-6: #7d5127;
$secondary-shade-7: #7d5127;
$secondary-shade-8: #7d5127;
$secondary-shade-9: #7d5127;

$secondary-tint-1: #8b5a2b;
$secondary-tint-2: #8b5a2b;
$secondary-tint-3: #8b5a2b;
$secondary-tint-4: #8b5a2b;
$secondary-tint-5: #8b5a2b;
$secondary-tint-6: #8b5a2b;
$secondary-tint-7: #8b5a2b;
$secondary-tint-8: #8b5a2b;

$black-tint-1: #111;
$black-tint-2: #222;
$black-tint-3: #333;
$black-tint-4: #444;
$black-tint-5: #555;
$black-tint-6: #666;

$grey1-50: #fdfefe;
$grey1-100: #fafcfb;
$grey1-200: #f7faf9;
$grey1-300: #f4f8f7;
$grey1-400: #f1f6f5;
$grey1-500: #eef4f3;
$grey1-600: #d9dedd;
$grey1-700: #a9adad;
$grey1-800: #838686;
$grey1-900: #646666;

$grey2-50: #f5f6f6;
$grey2-100: #dfe4e3;
$grey2-200: #d0d7d6;
$grey2-300: #bbc4c3;
$grey2-400: #adb9b7;
$grey2-500: #99a7a5;
$grey2-600: #99a7a5;
$grey2-700: #6d7775;
$grey2-800: #545c5b;
$grey2-900: #404645;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-mid-bold: 600;
$font-weight-bolder: 700;

$google-color: #4285f4;
$error-color: #ff0000;
